.stat-btns {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.map:hover {
    cursor: pointer;
}

.btn-stat {
    border: 2px solid #0B6811;
    background-color: #109618;
    margin: 10px;
    padding: 10px;
    color: white;
}

.btn-stat:hover {
    cursor: pointer;
}

.head-armament {
    text-align: center;
    color: #109618;
}